*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar {
    margin-top: 1px;
    background-color: red;
}
#green{
    border-radius: 50%;
}
.navbar-brand{
    font-weight: 600;
}
#red{
    background-size: cover;
    height: 700px;
    width: 1200px;
}
ul
{
  display:flex;  
  list-style:none;
  margin-left: -30px;
}
#padd{
    padding-left: 30px;
}
.red{
    height: 50px;
    background-color: rgb(230, 230, 230);
}
.green{
    height: 50px;
    background-color:  rgb(230, 230, 230);
}
.blue{
    height: 50px;
    background-color:  rgb(230, 230, 230);
}